<div class="comments-pane">
	<div class="close-comments-pane">X</div>
	<div class="heading">
		<h3>Comments</h3>
		<p><%= link_to raw(@post.headline), @post.url, :rel => "nofollow", :target => '_blank' %></p>
	</div>
	
	<% if current_user %>
		<%= render 'comments/form' %>
	<% else %>
		<%= link_to user_omniauth_authorize_path(:facebook), :class => 'facebook-login' do %>Login with Facebook to add a comment. <span>For authentication only— we'll never post to your feed.</span><% end %>
	<% end %>
	
	<ul id="list-comments">
	<% if @post.comments.count != 0 %>
		<% @post.comments.each do |comment| %>
			<%= render 'comments/comment', :comment => comment %>
		<% end %>
	<% else %>
		<p><em>No comments yet— you should add one!</em></p>
	<% end %>
</ul>
	

	<br class="clear"><br><br>

</div>