<div class="comments-pane">
	<div class="close-comments-pane">X</div>
	<div class="heading">
		<h3>Comments</h3>
		<p><a href="#">"The price is a bit high, but it’s worth it for the peace of mind." Why these 12 riders pay $27.50 to ride the UP Express. </a></p>
	</div>
</div>