<div class='article'>
	<div class="wrapper">
	
			<h1>Condo of the week: 525 Logan Avenue</h1>
			<p class="comments">12 Comments</p>
			<hr>

			<p>$844,900 will buy you this two bedroom, two bathroom suite on Toronto's east side.</p>
			
			<%= image_tag "placeholder.jpg" %>

	</div>
</div>