<div class="brief">
	
	<script type="text/javascript">
		$(document).ready(function(){
			// Form Shaker	
			$( ".fsBody" ).delay( 3800 ).effect( "shake", { times:2 }, 1000);
		});	
	</script>

 	<h1>Everything you need to know about Toronto in your inbox every Saturday morning.</h1>
	<h3>Over 3,200 Torontonians already subscribed.</h3>

	<div class="signup">
		
		<div class="form">
			<span>Subscribe now:</span> <div class="formstack"><script type="text/javascript" src="https://www.formstack.com/forms/js.php?1818289-3orQqeUtuK-v3"></script></div>
		</div>
	</div>
	
	<div class="benefits">
		<h4>Stay in the know about:</h4>
		
		<div class="three-col-left">
			<p><strong>Food & Drink</strong> New restaurants opening, major food events, farmers markets, food trucks and more.</p>
		</div>
		
		<div class="three-col-mid">
			<p><strong>Hidden Gems</strong> The hidden gems of Toronto that fly under the radar.</p>
		</div>
		
		<div class="three-col-right">
			<p><strong>The City</strong> Transit announcements, municipal politics and news from City Hall.  </p>
		</div>
		
		<div class="three-col-left">
			<p><strong>Maps and Stats</strong> Interesting stats, facts, data and maps on Toronto.  </p>
		</div>
		
		<div class="three-col-mid">
			<p><strong>Historical Toronto</strong> Fascinating history and interesting archival footage of Toronto.</p>
		</div>
		
		<div class="three-col-right">
			<p><strong>Arts & Culture</strong> Toronto's thriving music, art, graffiti and culture scenes. </p>
		</div>
		
		<br class="clear">			
		<!-- 
		<Br><br>
		
		<h4>Recent Issues:</h4>

		<script language="javascript" src="http://us2.campaign-archive2.com/generate-js/?u=787a44d802ade08c3e836bf23&fid=32269&show=10" type="text/javascript"></script>
	</div>
-->
</div>