body { text-align: center; margin: 50px 0 0 0; font-size: 16px; font-family: "proxima-nova",sans-serif; }

.wrapper { width: 830px; text-align: left; margin: 0 auto; position: relative; }

.two-col-left { float: left; width: 49%; margin: 0 2% 2% 0; }
.two-col-right { float: right; width: 49%; }

.three-col-left { float: left; width: 28%; margin-right: 8%; clear: both; }
.three-col-mid { float: left; width: 28%; }
.three-col-right { float: right; width: 28%; margin-left: 8%; }

.main { float: right; width: 550px; text-align: left; }
.sidebar { float: left; width: 250px; text-align: center; position: fixed;}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	.wrapper { width: 95%; }

	.three-col-left { float: none; width: 100%; margin-right: 0%; }
	.three-col-mid { float: none; width: 100%; }
	.three-col-right { float: none; width: 100%; margin-left: 0%; }

	.two-col-left { float: none; width: 100%; margin-right: 0%; }
	.two-col-right { float: none; width: 100%; }

	.main { float: none; width: 100%;}
	.sidebar { float: none; width: 100%;}
	.floating-sidebar { position: relative !important; width: 96% !important; left: 0 !important; }

}
