body { text-align: center; margin: 0; font-size: 16px; font-family: "proxima-nova",sans-serif; }

.wrapper { width: 550px; text-align: left; margin: 0 auto; position: relative; }

.two-col-left { float: left; width: 49%; margin: 0 2% 2% 0; }
.two-col-right { float: right; width: 49%; }

.three-col-left { float: left; width: 28%; margin-right: 8%; clear: both; }
.three-col-mid { float: left; width: 28%; }
.three-col-right { float: right; width: 28%; margin-left: 8%; }

.main { float: right; width: 550px; text-align: left; }
.sidebar { float: left; width: 250px; text-align: center; position: fixed; }



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	body { margin: 10px 0 0 0; }

	.wrapper { width: 95%; }

	.main { float: none; width: 100%; }
	.sidebar { float: none; width: 100%; position: relative; }

}
