html,body { height: 100%; }
body { text-align: center; margin: 0; font-size: 16px; font-family: "proxima-nova",sans-serif; }

.wrapper { width: 550px; text-align: left; margin: 0 auto; position: relative; }

.two-col-left { float: left; width: 49%; margin: 0 2% 2% 0; }
.two-col-right { float: right; width: 49%; }

.three-col-left { float: left; width: 28%; margin-right: 8%; clear: both; }
.three-col-mid { float: left; width: 28%; }
.three-col-right { float: right; width: 28%; margin-left: 8%; }

.main { float: left; width: 550px; text-align: left; }

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	.wrapper { width: 95%; }

	.main { float: none; width: 100%; }
	.sidebar { float: none; width: 100%; position: relative; }

	.three-col-left { float: none; width: 100%; margin-right: 0%; }
	.three-col-mid { float: none; width: 100%; }
	.three-col-right { float: none; width: 100%; margin-left: 0%; }

	.two-col-left { float: none; width: 100%; margin-right: 0%; }
	.two-col-right { float: none; width: 100%; }

}
