.article { padding-top: 40px;

	.wrapper { width: 960px; text-align: center;
	
	h1 { margin: 0 auto; width: 550px; text-align: center; color: #333; font-weight: 700; font-size: 44px;  }
	hr { margin: 20px 40% 40px 40%; height: 1px; border: none; background: #DDD; }
	p { color: #5f696a; font-size: 17px; margin: 20px auto; width: 550px; text-align: left; } 
	p.comments { font-weight: bold; font-size: 14px; color: #95A5A6; text-align: center; margin: 10px auto 0 auto; }
	
	}
}