.newsletter-prompt { background: #f7f7f7; height: 60px; display: none; position: relative;
	.inner { width: 640px; text-align: left; margin: 0 auto; position: relative; padding: 1px 0; }
	.close { position: absolute; top: 20px; right: 20px; text-indent: -9999em; background-image: asset-data-url("icon-close@2x.png"); background-size: 16px 16px; background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; }
	p { color: #5f696a; position: absolute; top: 20px; margin: 0; font-size: 15px; z-index: 10; }
	
	/* Formstack */
	
	.fsBody .fsForm { z-index: 0; border: none; margin: 0 !important; background-color:#f7f7f7 !important; box-shadow: none !important; position: absolute; top: 14px; right: 0; width: 400px; }
	.fsBody .fsRowBody { padding: 0 2px !important; }
	.fsLabel { display: none !important; }
	.fsField { font-weight: 400 !important; border: 1px solid #ddd !important; border-radius: 2px !important; outline: none; color: #7f8c8d !important; font-weight: normal; padding: 6px !important; font-size: 13px !important; top: 0; right: 78px; position: absolute; width: 180px !important; background-image: none !important; }
	.fsSubmitButton { font-weight: 500; border-radius: 2px !important; background: #3498DB; color: #fff !important; font-size: 13px !important; margin: 0px; cursor: pointer; padding: 8px !important; position: absolute; top: 0; right: 0; width: 68px !important; border: none; -webkit-transition: background 0.2s; transition: background 0.2s; -moz-transition: background 0.2s; }
	.fsFieldFocused { background-color:#f7f7f7 !important; 
		input {  border: 1px solid #AAA !important; }
	}
	.fsSupporting { color: #7f8c8d; font-size: 13px; display: none; }
	.fsFieldFocused div.fsSupporting,.fsFieldFocused label.fsRequiredLabel span {color:none;}
	.fsForm .fsSubmit { padding: 0 !important; margin: 0 !important; background: #f7f7f7 !important; }
	.fsBody .fsForm .fsCell { padding-bottom: 0;}
	.fsboxshadow {  }
	.fsSubmitButton:hover { background: #2980B9; }
	
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	.newsletter-prompt { height: 110px; 
		.inner {  width: 100%; }
		p { left: 10px; }
		.fsBody .fsForm { top: 35px; width: 250px; left: 0px; }
		.fsField { top: 20px; left: 10px !important; right: auto !important; width: 30px !important; }
		.fsSubmitButton { top: 20px; left: 200px !important; right: auto !important; }

	}

}

