.sidebar { position: absolute; right: -150px; width: 120px; margin: 0; padding: 0; list-style: none; text-align: left;
	li {
		a { color: #95a5a6; text-decoration: none; display: block; padding: 4px 4px 4px 30px; }
		a.polls { background-image: asset-data-url("icon-chart@2x.png"); background-size: 20px 20px; background-repeat: no-repeat; background-position: 0 30%; }
		a.news { background-image: asset-data-url("icon-news@2x.png"); background-size: 20px 20px; background-repeat: no-repeat; background-position: 0 30%; }
	}
	li.active {
		a { color: #3498DB; }
		a.polls { background-image: asset-data-url("icon-chart@2x-active.png"); background-size: 20px 20px; background-repeat: no-repeat; background-position: 0 30%; }		
		a.news { background-image: asset-data-url("icon-news@2x-active.png"); background-size: 20px 20px; background-repeat: no-repeat; background-position: 0 30%; }		
	}

	
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	.sidebar { position: fixed; bottom: 0; width: 100%; right: 0; border-top: 1px solid #DDD; height: 40px; background: #FFF; z-index: 100; padding-top: 10px;
		li { width: 19%; padding: 0 15%; display: inline-block; float: left; }
		li:first-child { border-right: 1px solid #DDD; }
	}

}
