.sidebar { 

	#logo { display: inline-block; width: 87.5px; height: 30px; text-indent: -9999em; background-image: asset-data-url("logo@2x.png"); background-size: 87.5px 30px; background-repeat: no-repeat; background-position: 0 0%;  }
	p.slogan { color: #95a5a6; font-size: 15px; }
	
	a#facebook-login { margin: 10px 0 15px 0; padding: 10px 15px 10px 35px; border-radius: 5px; font-size: 14px; color: #3498db; font-weight: 600; border: 1px solid #DDD; text-decoration: none; display: inline-block; background-image: asset-data-url("facebook-login.png"); background-size: 20px 20px; background-repeat: no-repeat; background-position: 5px 50%;  }
	
	ul.user-links { list-style: none; padding: 10px; text-align: left; border: 1px solid #DDD; margin: 15px; 
		a { color: #95A5A6; text-decoration: none; font-size: 14px; display: block; padding: 3px 8px; }
	}
	
}